{{ define "main" }}
  <main class="portfolio">
    <h1 class="portfolio__title">{{ .Title }}</h1>
    {{ if not .Parent.IsHome }}
    <div class="back-link">
      <a href="{{ .Parent.RelPermalink  }}">{{ .Parent.Title }}</a>
    </div>
    {{ end }}
    {{ with .Params.subtitle }}
    <h2 class="portfolio__subtitle">{{ . }}</h2>
    {{ end }}

    {{ .Content }}
    
    <ul class="portfolio__categores categories">
      {{if gt (len .Pages) 1 }}
      <li class="categories__item">
        <a class="categories__link" href="#">Alle</a>
      </li>
      {{ end }}
      {{ range .Pages }}
      <li class="categories__item">
        <a class="categories__link" href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
      {{ end }}
    </ul>
    
    {{ with .Sections }}
    {{ range . }}
      <h3>{{ .Name }}</h3>
      {{ range .Pages }}
        <h4><a href="{{ .RelPermalink }}">{{ .Name }}</h4></a>
        {{ with .Resources.ByType "image"}}
        <div class="images">
          {{ range $img := shuffle . }}
          {{ $imgwebp := $img.Resize "x180 webp" }}
          {{ $imgjpg := $img.Resize "x180" }}
          <picture>
            <source type="image/webp"
              srcset="{{ $imgwebp.RelPermalink }}">
            <img
              src="{{ $imgjpg.RelPermalink }}"
              alt=""
              loading="lazy"
              decoding="async"
              width="{{ $imgjpg.Width }}"
              height="{{ $imgjpg.Height }}">
          </picture>
          {{ end }}
          </div>
        {{ else }}
        — No images
        {{ end }}
      {{ end }}<br>
    {{ end }}
    {{ else }}
    <p>No sections</p>
    {{ range .Pages }}
    <h4>{{ .Name }}</h4>
    {{ with .Resources.ByType "image"}}
    <div class="images">
      {{ range $img := shuffle . }}
      {{ $imgwebp := $img.Resize "x180 webp" }}
      {{ $imgjpg := $img.Resize "x180" }}
      <picture>
        <source type="image/webp"
          srcset="{{ $imgwebp.RelPermalink }}">
        <img
          src="{{ $imgjpg.RelPermalink }}"
          alt=""
          loading="lazy"
          decoding="async"
          width="{{ $imgjpg.Width }}"
          height="{{ $imgjpg.Height }}">
      </picture>
      {{ end }}
      </div>
    {{ else }}
    — No images
    {{ end }}
  {{ end }}<br>
    {{ end }}
    
  </main>
{{ end }}