{{ define "main" }}
<section id="main">
  {{ if not .Parent.IsHome }}
  <div class="back-link">
    <a href="{{ .Parent.RelPermalink  }}"><— {{ .Parent.Title }}</a>
  </div>
  {{ end }}
  <article id="content">
    <h1 id="title">{{ .Title }}</h1>
    {{ .Content }}
  </article>
  <div>
    {{ with .PrevInSection }}<a class="previous" href="{{.Permalink}}">Prev — {{.Title}}</a>{{ end }}
    {{ with .NextInSection }}<a class="next" href="{{.Permalink}}">Next — {{.Title}}</a>{{ end }}
  </div>
</section>

<aside id="meta">
  {{with .CurrentSection.Pages }}
  <section>
    <ul class="">
      {{ range . }}
      {{ if ne . $ }}<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>{{ end }}
      {{ end }}
    </ul>
  </section>
  {{ end }}
      
  {{ with .Params.tags }}
  <section>
    <ul id="tags">
      {{ range . }}
      <li><a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{ end }}
    </ul>
  </section>
  {{ end }}

  <section>
    <p id="date"> {{ .Date.Format "2.01.2006" }} </p>
  </section>
</aside>
{{ end }}