<header class="header">
  <div class="header-top">
    <a href="#">Portfolio</a>
    <a href="#"><h1 class="header-top__logo"><span>plus</span>360</h1></a>
    <a href="#">Büro</a>
  </div>
  <div class="header-bottom">
    {{ $currentPage := . }}
    <ul class="header-bottom__portfoulo-menu header-bottom__portfoulo-menu--hidden">
      {{ range .Site.Menus.portfolio }}
      <li {{ if $currentPage.IsMenuCurrent "portfolio" . }}class="active"{{ end }}>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>

    <ul class="header-bottom__buro-menu header-bottom__buro-menu--hidden">
      {{ range .Site.Menus.buro }}
      <li {{ if $currentPage.IsMenuCurrent "buro" . }}class="active"{{ end }}>
          <a href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</header>