.header {
  display: grid;
  row-gap: var(--block-padding);
  font-family: var(--header-font-family);
}

.header__top {
  z-index: 1;

  a {
    text-decoration: none;
    color: var(--text-main-color);
  }
}

.header__menu {
  @media (max-width: ($header-menu-dskt-width - 1)) {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  // @media (min-width: $header-menu-dskt-width) {
  //   align-self: center;
  // }
}

@import "logo-phone", "menu";