$header-top-dskt-width: 500px;
$header-menu-dskt-width: 750px;
$footer-dskt-width: 550px;

:root {
  --wraper-max-width: 1040px;

  --body-bg-color: #c8c8c8;
  --block-bg-color: #fff;
  --text-main-color: #3d3939;
  --text-main-color-50a: #3d393980;
  --link-hover-color: #61afb5;
  --cards-color: #dde;
  --button-color: #9d5dd1;
  --button-text: #fff;
  --paper-color: #fdf3e5;
  --warning-color: #ff4747;

  --ultimate-gray: hsl(210, 2%, 58%);
  --illuminating: hsl(52, 89%, 63%);



  --header-font-family: 'Open Sans', sans-serif;
  --common-font-family: 'Open Sans', sans-serif;
  --footer-font-family: -apple-system, 'Open Sans', sans-serif;
  --common_font-size: 16px;
  --block-padding: 1rem;
}