:root {
  --body-bg-color: #f8f8f8;
  --block-bg-color: #fff;
  --wraper-max-width: 940px;
  --text-main-color: #444;
  --header-font-family: 'Open Sans', sans-serif;
  --common-font-family: 'Open Sans', sans-serif;
  --footer-font-family: 'Open Sans', sans-serif;
  --common_font-size: 16px;
}