$header-top-dskt-width: 500px;
$header-menu-dskt-width: 750px;
$footer-dskt-width: 550px;


:root {
  --body-bg-color: #c8c8c8;
  --block-bg-color: #fff;
  --wraper-max-width: 940px;
  --text-main-color: #3d3939;
  --text-main-color-50a: #3d393980;
  --link-hover-color: #61afb5;
  --header-font-family: 'Open Sans', sans-serif;
  --common-font-family: 'Open Sans', sans-serif;
  --footer-font-family: 'Open Sans', sans-serif;
  --common_font-size: 16px;
  --block-padding: 1rem;
}