
.main-home {
  &.comming-soon {
    min-height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  h1, p {
    margin: 0 0 1em 0;
  }
}